/* CSS files add styling rules to your content */

body {
  font-family:"arial";
  margin: 0em;
}

.cover {
  height:400px;
  background-image:url(https://cdn.glitch.com/7dd4606e-767b-4ab4-9527-c2cc5dc4fcb8%2Frsz_andy-holmes-eoakuqcsfiu-unsplash.jpg?v=1624936464161);
  color:white;
  background-size: cover;
  background-position:center;
  background-color:rgba(0,0,0,0.6);
  background-blend-mode: darken;
}

.cover-small{
  height:200px;
  background-blend-mode:normal;
}

.card{
  border:0 !important;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
}

.card-tittle{
  min-height:2.5rem;
}

.card-text{
  min-height:5rem;
}
.stripe-container{
  display:flex;
}

.stripe-container .card{
  width:300px;
  flex-shrink:0;
  margin-right:1rem;
}

.product-srtipe {
  overflow-x:scroll;
}